name: Run Script AR Every 3 Hours AR

on:
  schedule:
    - cron: '4 * * * *'  # Run every 3 hours
  workflow_dispatch:      # Enable manual triggering

jobs:
  run_script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
        with:
          ref: main
          persist-credentials: false

      - name: Create ar Folder
        run: mkdir -p ar

      - name: Create txt Folder
        run: mkdir -p txt        

      - name: Run Script and Generate M3U8 for VideoBeinAR2
        run: |
          curl_output=$(curl -k -s -H "User-Agent: Mozilla/5.0 (Linux; Android 14) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/127.0.6533.103 Mobile Safari/537.36" https://lovetier.bz/player/beINAR2 | grep -oP 'streamUrl\s*:\s*"\K[^"]+')
          curl_output2=${curl_output//\\\//\/}
          echo "$curl_output2" > ar/videobeinar2.m3u8

      - name: Pull changes from remote
        run: git pull origin main          

      - name: Commit and Push Changes
        env:
          GITHUB_TOKEN: ${{ secrets.KADA_TOKEN }}  # Use the stored PAT secret
        run: |
          git config --local user.email "kada.developers@gmail.com"
          git config --local user.name "kadadevelopers"
          git remote set-url origin https://x-access-token:${GITHUB_TOKEN}@github.com/kadadevelopers/live-m3u8.git
          git add ar/videobeinar2.m3u8
          git commit -m "latest updates" || echo "No changes to commit"
          git push
